.fragment.blur {
    filter: blur(5px);
}

.fragment.blur.visible {
    filter: none;
}

.fragment.rotate {
    transform: rotate(180deg);
}

.fragment.rotate.visible {
    transform: rotate(0deg);
}
